.container_intro{
    margin-top: 112px;
    margin-bottom: 105px;
    display: flex;
}

.intro_left_line{
    flex: 1;
    stroke-width: 3px;
    stroke: #FFF;
    padding-top: 60px;
}

.intro{
    width: 35%;
}

.intro p{
    color: #FFF;
    text-align: center;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.intro_right_line{
    flex: 1;
    stroke-width: 3px;
    stroke: #FFF;
    padding-top: 50px;
}

.container_leftRectangle{
    width: 50%;
    height: 110px;
    position: relative;
}

.container_leftRectangle h2{
    position: absolute;
    z-index: 3;
    right: 22%;
    top: -5px;
    font-size: 2.5em;
}

.left_Q_rectangle{
    width: 95%;
    height: 115px;
    flex-shrink: 0;
    fill: #E7F3C5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container_explanation{
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.explanation_text{
    text-align: left;
    width: 69%;
    height: 418px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.53);
}

.explanation_text p{
    color: #000;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 57px;
}

.explanation_text a{
    color: #3399a3;
}

.container_vlofAirlines{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 122px;
    width: 100%;
}

.container_vlofAirlines img {
    width: 45%;
    height: auto;
}

@media only screen and (max-width: 1510px){
    .explanation_text p{
        font-size: 1.55em;
        padding-top: 55px;
    }

    .container_leftRectangle{
        height: 97px;
    }

    .container_leftRectangle h2{
        right: 8%;
        top: 5%;
    }

    .left_Q_rectangle{
        width: 110%;
        height: 130px;
    }

    .intro_left_line{
        padding-top: 90px;
    }

    .intro_right_line{
        padding-top: 90px;
    }
}

@media only screen and (max-width: 1300px){
    .explanation_text p{
        font-size: 1.5em;
        padding-top: 27px;
    }

    .left_Q_rectangle{
        width: 120%;
        height: 130px;
        position: absolute;
        left: -30px;
    }
}

@media only screen and (max-width: 1200px){
    .explanation_text p{
        font-size: 1.4em;
        padding-top: 27px;
    }

    .intro{
        width: 40%;
    }
}

@media only screen and (max-width: 1150px){
    .explanation_text p{
        padding-left: 110px;
        padding-right: 110px;
    }

    .intro p{
        font-size: 1.8em;
    }

    .left_Q_rectangle{
        width: 125%;
    }
}

@media only screen and (max-width: 1000px){
    .container_leftRectangle{
        height: 97px;
    }

    .container_leftRectangle h2{
        font-size: 2.2em;
        right: -3%;
        top: 12%;
    }

    .left_Q_rectangle{
        width: 130%;
        height: 130px;
    }

    .intro{
        width: 45%;
    }
}

@media only screen and (max-width: 950px){
    .explanation_text p{
        font-size: 1.3em;
        padding-top: 40px;
    }

    .container_intro{
        margin-bottom: 55px;
    }
}

@media only screen and (max-width: 900px){
    .explanation_text{
        width: 80%;
        height: 400px;
    }

    .explanation_text p{
        padding-top: 52px;
    }
}

@media only screen and (max-width: 850px){
    .explanation_text p{
        padding-top: 40px;
        padding-left: 75px;
        padding-right: 75px;
    }

    .intro p{
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 750px){
    .left_Q_rectangle{
        width: 140%;
        position: absolute;
        left: -60px;
    }

    .container_leftRectangle h2{
        font-size: 1.8em;
        top: 22%;
    }

    .intro p{
        font-size: 1.5em;
        padding: 0 20px;
    }

    .intro_left_line path{
        stroke-width: 10;
    }

    .intro_right_line path{
        stroke-width: 10;
    }

    .container_intro{
        margin-top: 80px;   
    }
}

@media only screen and (max-width: 675px){
    .intro p{
        font-size: 1.4em;
    }

    .left_Q_rectangle{
        width: 160%;
        position: absolute;
        left: -115px;
    }

    .explanation_text{
        height: 455px;
    }

}

@media only screen and (max-width: 600px){
    .container_intro{
        margin-top: 54px;
        margin-bottom: 10px;
    }

    .intro{
        width: 64%;
    }

    .intro p{
        padding: 0 20px;
    }

    .container_leftRectangle h2{
        right: 15%;
        top: 24%;
    }

    .intro_left_line{
        padding-top: 50px;
    }

    .intro_right_line{
        padding-top: 50px;
    }

    .container_leftRectangle{
        width: 91%;
        height: 84px;
        left: -130px;
    }

    .left_Q_rectangle{
        width: 100%;
        left: 0;
    }

    .explanation_text{
        width: 87%;
    }

    .container_vlofAirlines{
        margin-top: -25px;
    }

    .container_vlofAirlines img{
        width: 65%;
    }

    .intro_left_line path{
        stroke-width: 20;
    }

    .intro_right_line path{
        stroke-width: 20;
    }
}

@media only screen and (max-width: 550px){
    .explanation_text p{
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 550px){
    .container_leftRectangle h2{
        right: 8%;
    }

    .explanation_text{
        height: 520px;
    }
}

@media only screen and (max-width: 495px){
    .explanation_text{
        height: 500px;
    }

    .explanation_text p{
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 450px){
    .container_intro{
        margin-top: 54px;
        margin-bottom: 10px;
    }

    .intro{
        width: 64%;
    }

    .intro p{
        font-size: 1.2em;
    }

    .explanation_text p{
        font-size: 1.2em;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 45px;
    }

    .container_leftRectangle h2{
        right: 8%;
        top: 26%;
    }

    .container_leftRectangle{
        width: 100%;
        height: 84px;
        left: -130px;
    }

    .left_Q_rectangle{
        width: 100%;
    }

    .explanation_text{
        width: 87%;
        height: 435px;
    }

    .container_vlofAirlines{
        margin-top: -25px;
        margin-bottom: 110px;
    }

    .container_vlofAirlines img{
        width: 65%;
    }
}

@media only screen and (max-width: 440px){
    .explanation_text{
        height: 455px;
    }
}

@media only screen and (max-width: 410px){
    .explanation_text p{
        padding-top: 35px;
    }

    .container_vlofAirlines{
        margin-top: -40px;
    }

    .container_vlofAirlines img{
        width: 70%;   
    }

    .container_leftRectangle{
        width: 107%;
    }

    .container_leftRectangle h2{
        right: 6%;
    }
}

@media only screen and (max-width: 400px){
    .explanation_text{
        height: 470px;
    }
}

@media only screen and (max-width: 396px){
    .explanation_text{
        height: 510px;
    }
    
    .container_leftRectangle h2{
        font-size: 1.7em;
        top: 28%;
    }
}

@media only screen and (max-width: 380px){
    .explanation_text{
        height: 525px;
    }
}

@media only screen and (max-width: 370px){
    .container_vlofAirlines{
        margin-top: -25px;
    }

    .container_vlofAirlines img{
        width: 75%;
    }

    .container_leftRectangle h2{
        font-size: 1.6em;
        top: 32%;
    }

    .intro_left_line{
        padding-top: 75px;
    }

    .intro_right_line{
        padding-top: 75px;
    }
}

@media only screen and (max-width: 355px){
    .container_leftRectangle h2{
        font-size: 1.5em;
        top: 35%;
    }

    .intro p{
        font-size: 1.1em;
    }

    .explanation_text{
        height: 540px;
    }
}

@media only screen and (max-width: 336px){
    .container_leftRectangle h2{
        font-size: 1.4em;
        top: 37%;
    }

    .explanation_text{
        height: 580px;
    }
}

@media only screen and (max-width: 325px){
    .container_leftRectangle h2{
        right: 4%;
    }

    .explanation_text{
        height: 595px;
    }
}