.galleryTitle{
    margin-top: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.galleryTitle img{
    width: 23%;
    height: auto;
}

.titleChange{
    display: none;
}

.gallery_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    padding: 40px 110px 70px 110px;
}

.gallery_container p{
    font-size: 1.3em;
    margin: 30px 0;
}

.galleryChange{
    display: block;
    width: 100%;
    position: absolute;
    background-image: url('/media/night_stars.jpg');
    z-index: 300;
    padding: 0;
}

.galleryChange div{
    padding-bottom: 0;
}

.galleryChange img{
    display: none;
}

.galleryChange p{
    display: none;
}

.image_card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.imageContainer{
    background-image: url('/media/polaroid_texture.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.imageContainer img{
    padding: 40px 25px 0 25px;
}

.image_card img{
    height: 75vh;
    width: auto;
    cursor: pointer;
    transition: all 500ms ease-out;
}

.imageSelected{
    height: 100vh;
    background: none;
}

.imageSelected img{
    width: auto;
    height: 85vh;
    display: block;
}

.imageSelected p{
    display: block;
    font-size: 1.5em;
}

@media screen and (max-width: 950px) {
    .galleryTitle img{
        width: 39%;
    }
}

@media screen and (max-width: 650px) {
    .galleryTitle{
        margin-top: 115px;
    }

    .galleryTitle img{
        width: 44%;
    }

    .gallery_container{
        grid-template-columns: 1fr; /* Cambia a una sola columna (una fracción) en dispositivos con ancho de pantalla de 600px o menos */
        padding: 20px 0px;
    }
}

@media screen and (max-width: 450px) {
    .galleryTitle{
        margin-top: 105px;
    }

    .galleryTitle img{
        width: 55%;
    }

    .gallery_container p{
        font-size: 1.2em;
    }

    .imageSelected p{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 420px) {
    .image_card img{
        height: 65vh;
    }

    .imageSelected img{
        height: 70vh;
    }
}

