

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@font-face {
  font-family: 'Jost-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Jost-Regular"), 
    url('/fonts/Jost-Regular.ttf') format('truetype');
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  background: rgb(119 153 118);
  background-image: url('media/noise-light.png');
  font-family: 'Jost-Regular';
}

h2 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
